html,
body {
    margin: 0;
    /* scroll-behavior: smooth; */
}


/*header+main  */


ul {
	list-style: none;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    vertical-align: top;
    height: auto;
}
.wrapper{
    /* background: linear-gradient(104deg, rgba(38,65,109,1) 0%, rgba(11,29,98,1) 33%, rgba(59,114,151,1) 100%); */
    /* background: linear-gradient(0deg, rgba(27,94,112,1) 0%, rgba(2,13,55,1) 100%); */
    background-color: rgb(2,13,55);
    height: 100vh;
    padding: 15px 30px;
}
.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(2,13,55);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.haeader__logo{
    width: 100px;
    height: 64;

}
.header__burger{
    display: none;
}
.haeader__nav{
    color: white;
    font-size: 16px;
    padding-right: 30px;
    padding-left: 14px;
    transition-duration: 0.5s;
}

.haeader__nav:hover{
    color: rgb(189,1,19);
    cursor: pointer;
}
.header_nav_container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main__container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 60px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.main__img{
    box-sizing: border-box;
    max-width: 500px;

    transform: translate(120px, 0%);
    opacity: 0;
    transition: all 0.5s ease-in 0s;
}

.main__img__first {
    border-radius: 50%;
}
.main__img._active{
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
    transition-duration: 1s;
}
.text__first{
    opacity: 0;
}
.text__first._active{
    opacity: 1;
    transition-duration: 1.5s;
}
.text__second{
    font-size: 64px;
    font-weight: bold;
    line-height: 15px;

    /* transform-origin: 1% 1% 0px; */

    transform: translate(-120px, 120%);
    opacity: 0;
    transition: all 0.5s ease-in 0s;
}
.text__second._active{
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 0.5s ease 0.4s;
}
.main__colorword{
    color: rgb(189,1,19);

}
.text__third{
    font-size: 49px;
    font-weight: bold;

    transform: translate(0px, 90%);
    opacity: 0;
    transition: all 0.8s ease 0s;

}
.text__third._active{
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}
.main__btn{
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(2,13,55);
    padding: 15px 35px 15px 35px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition-duration: 0.5s;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;

}

.main__btn._active{
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 1s ease 0.5s;
}
.main__btn:hover{
    border: 2px solid rgb(189,1,19);
    background-color: rgb(189,1,19);
    box-shadow: 0 3px 0px rgb(63, 1, 7);
    cursor: pointer;
}



/*header+main  */


/* Ми вміємо */


/* Ми вміємо */

.skills_text {
    font-size: 42px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

b {
    color: rgb(10, 10, 175);
    font-weight: 600;
}

.skills {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 52%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    background-color: rgb(43, 93, 105);
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: #ffffff;
}

.skill1:hover {
    cursor: pointer;
    opacity: 80%;
    color: #e63434;
}

.skill2:hover {
    cursor: pointer;
    opacity: 80%;
    color: #e63434;
}

.skill3:hover {
    cursor: pointer;
    opacity: 80%;
    color: #e63434;
}

.skill1 {
    border-radius: 24px;
    border: 2px solid #f443ad;
    background-image: url('/bg1.png');
    background-size: 400px 500px;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: rgb(237, 217, 32);
    font-size: 36px;
}

.skill2 {
    border-radius: 24px;
    border: 2px solid #e63434;
    background-image: url(/bg2.png);
    background-size: 400px 500px;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: rgb(237, 217, 32);
    font-size: 36px;
}

.skill3 {
    border-radius: 24px;
    border: 2px solid #dc961d;
    background-image: url(/bg3.png);
    background-size: 400px 500px;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: rgb(237, 217, 32);
    font-size: 36px;
}


/* Ми вміємо */


/* about us */

#aboutus {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 50px 0;
    font-family: 'Russo One', sans-serif;
    justify-content: center;
}

.img-us {
    min-width: 560px;
    border-radius: 5px;
}

.ab-head-title {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.about-content {
    max-width: 500px;
    padding: 20px;
    margin: 10px 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.about-content::before {
    content: '';
    padding: 1px;
    width: 40px;
    background-color: #ED4E31;
    display: block;
}

.ab-subtitle-text {
    font-size: 16px;
    margin: 0 0 30px 0;
}

.about-content p {
    margin: 0 0 10px 0;
}

.ab-number {
    display: flex;
    justify-content: space-around;
}

.ab-column1-exp,
.ab-column2-product,
.ab-column3-clients {
    padding: 0 10px 0 10px;
}

.num-yrs,
.num-prod,
.num-cl {
    font-size: 35px;
    font-weight: bold;
    z-index: 10;
}

.num-about-row {
    display: flex;
    font-size: 16px;
    align-items: baseline;
    z-index: 10;
}

.num-about-row p {
    z-index: 10;
    font-size: 20px;
    font-weight: bold;
}

.ab-column1-exp,
.ab-column2-product,
.ab-column3-clients {
    position: relative;
    z-index: 10;
}

.ab-column1-exp p,
.ab-column2-product p,
.ab-column3-clients p {
    font-size: 18px;
    font-weight: bold;
}

.ab-column1-exp::before,
.ab-column2-product::before,
.ab-column3-clients::before {
    content: '';
    height: 10px;
    width: 60px;
    background-color: #ED4E31;
    display: block;
    position: absolute;
    top: calc(36% - 2px);
    /* left: 20px; */
    z-index: 1;
}


/* footer */

footer {
    background-color: #061349;
    color: #fff;
    font-family: 'Russo One', sans-serif;
}

#footer-top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    padding: 70px 0 70px 0;
    font-family: 'Russo One', sans-serif;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.exp-title {
    font-size: 34px;
    font-weight: bold;
    padding: 10px;
    margin: 0 0 10px;
}

.epx-subtitle {
    padding: 5px;
    font-size: 16px;
}

.title-button-wrap {
    text-transform: uppercase;
}

.get-link {
    padding: 10px 20px 10px 20px;
    border: 2px solid #251515;
    /* color: #fff; */
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
}

.get-link:hover {
    color: #fff;
    background-color: #ED4E31;
    border: 2px solid #ED4E31;
    transition: ease-in-out 0.2s;
}

#footer-middle {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.cl1-ft-logo-img,
.cl2-ft-location,
.cl3-ft-callUs,
.cl4-ft-subscribe {
    padding: 10px 20px;
    margin: 10px;
}

.footer-title {
    margin: 0 0 10px 0;
    color: #ED4E31;
    font-size: 16px;
    font-weight: bold;
}

.text-widget p {
    font-size: 14px;
}

.ft-form {
    display: flex;
}

.ft-enter-form {
    border: 2px solid #ED4E31;
    padding: 10px;
    outline: none;
    background-color: #061349;
    color: #fff;
}

.ft-sub-form {
    padding: 7px;
    background-color: #ED4E31;
    border: 2px solid #ED4E31;
    outline: none;
    outline-offset: 0;
    color: #fff;
    font-size: 18px;
}

#footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #47484b;
    font-size: 14px;
}

.img-ab-us {
    text-align: center;
}


/* media */

@media screen and (max-width: 500px) {
    #aboutus {
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .ab-number {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: stretch;
    }
    .ab-column1-exp,
    .ab-column2-product,
    .ab-column3-clients {
        padding: 5px 0;
        margin: 10px 0;
    }
}

@media screen and (max-width: 700px) {
    .cl1-ft-logo-img,
    .cl2-ft-location,
    .cl3-ft-callUs,
    .cl4-ft-subscribe {
        padding: 10px 0;
        margin: 15px 0;
    }
    #footer-bottom {
        text-align: center;
        padding: 2px;
    }
    .img-us {
        width: 500px;
    }
    #footer-top {
        padding: 20px 0;
    }

}
@media screen and (max-width: 770px){
     /* Header main */


     .header_nav_container{
        display: none;
    }
    .header__burger{
        display: block;
        align-items: center;
    }
    .text__second{
        font-size: 43px;
    }
    .text__third{
        font-size: 21px;
    }
    .main__img{
        display: none;
    }
    .main__container{
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: center;
        text-align: center;
    }
    .main__text__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
      #menu_checkbox {
        display: none;
      }
      
      label {
        /* position: absolute; */
        top: 50%;
        right: 0;
        left: 0;
        display: block;
        width: 60px;
        height: 60px;
        margin: -10px auto 0 auto;
        cursor: pointer;
      }
      
        label:before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* background-color: #f44336; */
        transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
      }
      
      label div {
        position: relative;
        top: 0;
        height: 12px;
        background-color: #fff;
        margin-bottom: 12px;
        transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
          0.3s ease right;
        border-radius: 2px;
      }
      
      label div:first-child {
        transform-origin: 0;
      }
      
      label div:last-child {
        margin-bottom: 0;
        transform-origin: 60px;
      }
      
      label div:nth-child(2) {
        right: 0;
        width: 60px;
      }
      
      /* #menu_checkbox:checked + label:before {
        background-color: #4caf50;
      } */
      
      #menu_checkbox:checked + label div:first-child {
        top: -6px;
        transform: rotateZ(45deg);
      }
      
      #menu_checkbox:checked + label div:last-child {
        top: 6px;
        transform: rotateZ(45deg);
      }
      
      #menu_checkbox:checked + label div:nth-child(2) {
        width: 85px;
        top: 0;
        right: 13px;
        transform: rotateZ(-45deg);
      }
}

@media screen and (max-width: 900px){
    .text__second{
        font-size: 42px;
    }
}

@media screen and (max-width: 1200px) {
    #footer-top {
        display: block;
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .title-button-wrap {
        margin: 20px 0;
        padding: 10px 0;
    }
    #aboutus {
        display: block;
        width: fit-content;
        padding: 30px 0;
    }
    .img-us {
        min-width: 280px;
    }


    /* main */
    .main__img{
        max-width: 350px;
    }
    .text__second{
        font-size: 5vw;
    }
    .text__third{
        font-size: 31px;
    }
}

@media screen and (max-width: 1300px) {
    #footer-middle {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .cl1-ft-logo-img,
    .cl2-ft-location,
    .cl3-ft-callUs,
    .cl4-ft-subscribe {
        padding: 15px 0;
        margin: 20px 0;
    }
}