html,
body {
    margin: 0
}


/* Ми вміємо */


/* Ми вміємо */

.skills_text {
    font-size: 42px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

b {
    color: rgb(10, 10, 175);
    font-weight: 600;
}

.skills {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 52%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    width: 100%;
    height: 700px;
    background-color: rgb(43, 93, 105);
    justify-content: space-around;
    align-items: center;
    color: rgb(13, 0, 154);
}

.skill1 {
    border-radius: 12px;
    border: 2px solid #f443ad;
    background-image: url('/le-buzz-studio-KiEiI2b9GkU-unsplash.jpg');
    background-size: 500px 400px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: rgb(237, 217, 32);
    font-size: 42px;
}

.skill2 {
    border-radius: 12px;
    border: 2px solid #e63434;
    background-image: url(/igor-miske-Px3iBXV-4TU-unsplash.jpg);
    background-size: 500px 400px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: rgb(237, 217, 32);
    font-size: 42px;
}

.skill3 {
    border-radius: 12px;
    border: 2px solid #dc961d;
    background-image: url(/igor-miske-JVSgcV8_vb4-unsplash.jpg);
    background-size: 500px 400px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: rgb(237, 217, 32);
    font-size: 42px;
}


/* Ми вміємо */


/* about us */

#aboutus {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
    padding: 20px 0;
}

.ab-head-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.about-content::before {
    content: '';
    padding: 1px;
    width: 40px;
    background-color: #ED4E31;
    display: block;
}

.ab-subtitle-text {
    font-size: 18px;
    margin: 0 0 30px 0;
}

.about-content p {
    margin: 0 0 10px 0;
}

.ab-number {
    display: flex;
    justify-content: space-around;
}

.ab-column1-exp,
.ab-column2-product,
.ab-column3-clients {
    padding: 0 10px 0 10px;
}

.num-yrs,
.num-prod,
.num-cl {
    font-size: 35px;
    font-weight: bold;
    z-index: 10;
}

.num-about-row {
    display: flex;
    font-size: 20px;
    align-items: baseline;
    z-index: 10;
}

.num-about-row p {
    z-index: 10;
    font-size: 28px;
    font-weight: bold;
}

.ab-column1-exp,
.ab-column2-product,
.ab-column3-clients {
    position: relative;
    z-index: 10;
}

.ab-column1-exp p,
.ab-column2-product p,
.ab-column3-clients p {
    font-size: 22px;
    font-weight: bold;
}

.ab-column1-exp::before,
.ab-column2-product::before,
.ab-column3-clients::before {
    content: '';
    height: 10px;
    width: 60px;
    background-color: #ED4E31;
    display: block;
    position: absolute;
    top: calc(38% - 2px);
    left: 20px;
    z-index: 1;
}


/* footer */

#footer-top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    padding: 80px 0 80px 0;
}

.exp-title {
    font-size: 38px;
    font-weight: bold;
    padding: 10px;
    margin: 0 0 10px;
}

.epx-subtitle {
    padding: 5px;
    font-size: 19px;
}

.title-button-wrap {
    text-transform: uppercase;
}

.get-link {
    padding: 10px 20px 10px 20px;
    border: 2px solid #251515;
    /* color: #fff; */
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
}

.get-link:hover {
    color: #fff;
    background-color: #ED4E31;
    border: 2px solid #ED4E31;
    transition: ease-in-out 0.2s;
}

#footer-middle {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
}

.cl2-ft-location,
.cl3-ft-callUs,
.cl4-ft-subscribe {
    padding: 0 20px 0 20px;
}

.footer-title {
    margin: 0 0 10px 0;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.ft-form {
    display: flex;
}

.ft-enter-form {
    border: 3px solid #ED4E31;
    padding: 10px;
    outline: none;
}

.ft-sub-form {
    padding: 8px;
    background-color: #ED4E31;
    border: 2px solid #ED4E31;
    outline: none;
    outline-offset: 0;
    color: #fff;
    font-size: 18px;
}

#footer-bottom {
    text-align: center;
    margin: 2px 0 0 0;
}


/* media */

@media screen and (max-width: 500px) {
    #aboutus {
        width: 90%;
        margin: 0 auto;
    }
    .ab-number {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: stretch;
    }
    .ab-column1-exp,
    .ab-column2-product,
    .ab-column3-clients {
        padding: 5px 0;
        margin: 10px 0;
    }
}

@media screen and (max-width: 700px) {
    #footer-middle {
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    .cl1-ft-logo-img,
    .cl2-ft-location,
    .cl3-ft-callUs,
    .cl4-ft-subscribe {
        padding: 10px 0;
        margin: 15px 0;
    }
    #footer-bottom {
        text-align: center;
    }
}

@media screen and (max-width: 1150px) {
    #footer-top {
        display: block;
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .title-button-wrap {
        margin: 20px 0;
        padding: 10px 0;
    }
}